language: node_js
sudo: false
node_js:
  - "0.12"

cache:
  directories:
    - node_modules

install:
  - npm install

script:
  - grunt build
  - npm test --coverage

after_succes:
  - grunt coveralls
